body {
    .App {
        .lander {
            height: 90vh;
        }

        .Footer {
            bottom: 0;
            clear: both;
            position: relative;
            height: 50px;
            width: 100%;
            margin: 20px; 
        }  
    }
}