@import 'variables';

.results-table {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
.table-break {
  line-height: 1px;
}
.table-row {
  border: 2px solid white;
  background-color: $geyser_col;
  border-radius: 25px;
}
.table-cell-1 {
  width: 70%;
  align: left;
  padding: 10px;
}
.table-cell-2 {
  width: 20%;
  align: right;
  position: relative;
}
.table-cell-3 {
  width: 10%;
  align: right;
  position: relative;
}
.table-result-title {
  color: $grey_chateau_col;
}
.table-result-desc {
  color: $regent_grey_col;
}
.table-result-location {
  color: $regent_grey_col;
}
.table-arrow {
  color: $grey_col;
}
.table-button {
  border: none;
  color: $porcelain_col;
  width: 6em;
  height: 2em;
  background-color: $oslo_grey_col;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.clickable:hover {
  cursor: pointer;
}

.table-post {
  text-decoration: underline;
  color: $regent_grey_col;
  position: absolute;
  font-size: 1.2em;
  bottom: 10px;
  right: 10px;
}
